.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container
{
    min-width: 40vw;
    max-width: 40vw;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100vh;
    padding: 20px;
    padding-top: 10vh;
}

.App *:not(.container) {
    margin-top: 5px;
}

h2 {
    color: #fff;
    font-size: 3em;
}

h1 {
    color: #ff5;
    font-size: calc(2.8em + 5vw);
}

.data-corrente {
    color: #ff50;
    text-transform: uppercase;
}

.button-container {
    position: relative;
    top: -8vh;
    display: flex;
    justify-content: space-around;
}

button {
    color: #ffff;
    font-size: 3em;

    padding: 5px;
    cursor: pointer;
    padding: 5px;
    cursor: pointer;

    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}
